email-validator
fastapi
uvicorn[standard]
pydantic-settings
python-multipart
python-jose[cryptography]
passlib[bcrypt]
sqlalchemy
psycopg2-binary
alembic
loguru
python-dotenv
lancedb
tantivy
pypdf
python-docx
langchain-text-splitters
sentence-transformers
httpx
duckduckgo-search
